<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>Clientes</title>
	<link rel="stylesheet" href="{%static 'css/estilo.css'%}">
</head>
<body>
	<h1>Clientes</h1>
	<a href="{%url 'clientes:agregar'%}">Agregar clientes</a>
	<ul>
		{% for cl in object_list %}
		<div id= "objeto">
		<li>
			<img class="elementos" src="{{cl.foto.url}}" alt="">
			<a class="" ="elementos" href="{%url 'clientes:detalle' cl.id%}">{{ cl.nombre}}</a>
			
			{# <a href="{%url 'clientes:borrar' cl.id%}">Borrar cliente</a> #}
			

		</li>
		</div>
		{%endfor%}
	</ul>
	
</body>
</html>